nav.navbar.navbar-default
  .container
    .navbar-header
      a(href='/', class = 'navbar-brand') Duke Exchange
    ul.nav.navbar-nav
      li
        a(href="/listings/new") New Listing
    ul.nav.navbar-nav.navbar-right
      if user.id
        li
          a(href="/users/"+user.id)
            img.navbar-pic(src=user.picture)
            = user.name
        li
          a(href="/logout") Logout
      else
        li
          a(href="/auth/google") Login
