nav.navbar.navbar-default
  .container
    .navbar-header
      a(href='/', class = 'navbar-brand') Duke Exchange
    ul.nav.navbar-nav
      li
        a(href="/listings/new") New Listing
    ul.nav.navbar-nav.navbar-right
      if user
        li
          a(href="/users/"+user._id)
            img.navbar-pic(src=user.image.url)
            =user.name.givenName
        li
          a(href="/logout") Logout
      else
        li
          a(href="/auth/google") Login
