ul.nav.nav-pills.nav-stacked.sidebar-nav.hidden-sm.hidden-xs
  a(href='/')
    img.sidebar-logo(src='/public/imgs/logo.png')
  li
    a.sidebar-link(href='/listings/new') New Listing
  li
    a.sidebar-link(href='/listings/browse') Browse
  - for category in attributes['category']
    li
      a.sidebar-link(href='/listings/browse?category=#{category}')= category
  li
    a.sidebar-sublink(href='#') About Us
  li
    a.sidebar-sublink(href='#') Contact
