include ../mixins/form-field-helpers

- listing = listing || {}
.row
  .col-xs-12
    +text-form-group('title', 'Title', listing.title)
.row
  .col-xs-12.col-md-4
    +dropdown-form-group('category', 'Category', attributes['category'], listing.category)
  .col-xs-12.col-md-4
    +dropdown-form-group('condition', 'Condition', attributes['condition'], listing.condition)
    +text-form-group('brand', 'Brand', listing.brand)
    +dropdown-form-group('size', 'Size', attributes['size'], listing.size)
    +text-form-group('color', 'Color', listing.color)
  .col-xs-12.col-md-4
    .form-group
      label(for='description') Description
      textarea#description.form-control(name='description')= listing.description
    .form-group
      label(for='price') Asking price
      .input-group
        span.input-group-addon $
        input#price.form-control(type="text" name='price' placeholder='0.00' value=listing.price)
    .form-group
      #dropzone-preview
        .dz-message Drag Images Here
button.btn.btn-default(type='submit') Submit
