include ../mixins/form-field-helpers

- listing = listing || {}
+text-form-group('title', 'Title', listing.title)
+text-form-group('description', 'Description', listing.description)
+text-form-group('size', 'Size', listing.size)
+text-form-group('condition', 'Condition', listing.condition)
+text-form-group('brand', 'Brand', listing.brand)
+text-form-group('color', 'Color', listing.color)
button.btn.btn-default(type='submit') Submit
