extends ../layout

block content
  .row
    .col-xs-12.col-md-8
      h1= 'Edit ' + listing.title
      form(method='POST', action='/listings/' + listing._id, enctype='multipart/form-data')
        include _form
