extends ../layout

block content
  .row
    .col-xs-12
      form(method='POST', action='/listings', enctype='multipart/form-data')
        include _form

block scripts
  script(src='/public/js/listing-form.js')
