extends ../layout

block content
  .row
    .col-xs-12
      form(method='POST', action='/listings', enctype='multipart/form-data')
        include _form

block scripts
  script(src='/public/bower_components/dropzone/dist/dropzone.js')
  script(src='/public/js/imageupload.js')
