extend layout

block content
  .row
    .col-xs-12.col-md-6
      .page-container
        h1.page-header About
        p #[span.page-logo DUKEXCHANGE] is a simple, free, and easy website for the Duke community to buy and sell their new/used items. Founded, designed and developed by Duke students, #[span.page-logo DUKEXCHANGE] is the central place on campus for all your needs and to convert your unwanted items into cash.
        p #[span.page-cta Have something a sell?] Post a listing, publicize/share it, and wait for the buyers to come calling.
        p #[span.page-cta See something you want to buy?] Write a message for the seller, click 'make an offer', and we'll instantly get the two of you in touch.
        p #[span.page-cta Want to keep track of your offers?] Click on your display picture!
        p #[span.page-cta Meeting up on campus?] Check out the item, pay, and delete the listing if it sold. Simple!
        p The bigger the #[span.page-logo DUKEXCHANGE] community, the better: spread the word!
