extend layout

block content
  .row
    .col-xs-12
      .page-container
        .contact-text
          p Do you have questions or feedback?
          p Want to contribute and get involved?
          p Email us at
          p.contact-email #[span.page-logo DUKEXCHANGE] [at] gmail.com
