extend layout

block content
  .row
    .col-xs-12
      #browse-grid(data-listings=JSON.stringify(listings))
block scripts
  script(src='public/js/grid-commons.js')
  script(src='/public/js/index.js')
