doctype
html(lang='en')
  head
    title Duke Exchange
    meta(charset='utf-8')
    meta(name="viewport", content="initial-scale=1")

    link(rel="stylesheet", href='//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/exchange.css')
  body
    include partials/_navbar
    .container
      block content
