@import './sidebar';
body {
  font-family: Helvetica, Arial;
}
ul {
  list-style-type: none;
}

.grid-listing {
  padding-left: 0px;
  overflow: hidden;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  -webkit-flex-direction: row;
  width: 100%;
}

.grid-listing-item {
  flex: 1;
  border: 1px solid #eee;
  margin: 15px;
  min-width: 30%;
  max-width: 30%;
}

.grid-listing-image {
  height: 300px;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.grid-listing-detail {
  min-height: 10%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

.grid-listing-detail p {
  margin: 0px 0px 0px 5px;
  text-shadow: 1px 1px 2px #363a3f;
  font-weight: 500;
}

.navbar-pic {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  height: 30px;
  margin-top: -6px;
  position: absolute;
  left: -25px;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
