.listing-detail-images-root {
  height: 300px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.listing-detail-images-column {
  flex: 1;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.listing-detail-image {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.listing-detail-title {
  margin-top: 0px;
}

.listing-detail-table .listing-detail-td {
  border-top: none;
  padding: 4px;
  font-weight: 500;
}

.listing-detail-table .listing-detail-td:first-child {
  padding-left: 0px;
}

.listing-detail-label {
  color: #555;
  width: 20%;
}

.listing-detail-price:before {
  content: '$';
  color: #555;
}

.listing-detail-action-list {
  padding-left: 0px;
}

.listing-detail-action {
  margin-left: 3px;
  display: inline;
  &:first-child {
    margin-left: 0px;
  }
  form {
    display: inline;
  }
}

.dz-success-mark, .dz-error-mark {
  display: none;
}

#dropzone-preview {
  min-width: 150px;
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dz-message {
  color: #aaa;
  cursor: pointer;
}
