.page-header {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
  border-bottom: none;
}

.page-logo {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.page-cta {
  font-weight: bold;
}

.contact-text {
  text-align: center;
  margin-top: 80px;
}

.contact-email {
  font-size: 1.3em;
  font-weight: bold;
}
