.sidebar-nav-container {
  height: 100%;
}

.sidebar-nav {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  top: 0px;
  bottom: 0px;
}

.nav-pills > li > a {
  margin-left: -15px;
}

.sidebar-link {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #000;
}

.sidebar-sublink {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5px;
  color: #555;
}

.sidebar-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  &:hover {
    text-decoration: none;
  }
}
